<p>Search Results</p>
  <div ng-init="activities = [
    {name:'John', age:25, gender:'boy', activity:'hiking'},
    {name:'Jessie', age:30, gender:'girl', activity:'hiking'},
    {name:'Johanna', age:28, gender:'girl', activity:'hiking'},
    {name:'Joy', age:15, gender:'girl', activity:'hiking'},
    {name:'Mary', age:28, gender:'girl', activity:'running'},
    {name:'Peter', age:95, gender:'boy', activity:'running'},
    {name:'Sebastian', age:50, gender:'boy', activity:'running'},
    {name:'Erika', age:27, gender:'girl', activity:'walking'},
    {name:'Patrick', age:40, gender:'boy', activity:'walking'},
    {name:'Samantha', age:60, gender:'girl', activity:'walking'}
  ]">

  There are {{activities.length}} activities to join.
  <input type="search" ng-model="q" placeholder="filter activities..." aria-label="filter activities" />

  <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="activity in activities | filter:q as results">
        [{{$index + 1}}] {{activity.name}} who is {{activity.age}} years old and is planning on {{activity.activity}}.
      </li>
      <li class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
      </li>
    </ul>
  </div>
