/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.itemfit .img{
  float: left;
  width: 50px;
}

.itemfit span{
  display: inline;
}

.itemfit {
  display: block;
  width: 100%;
  clear: both;
  border: 1px solid #eee;
}

/*
Custom css
*/
body{
      font-size: 1.1em;
      padding-top:0;
      background: url("./img/1920X1080HOMEPAGE.jpg") no-repeat;
    }
#header{
  background: #eee;
  padding: 10px 0 10px 10px;
  min-height:35px;
  margin: 0 0 10px 0;
}
#menuwrapper{
  margin: 2px 0 5px 10px;
}
#appcontent{
  margin:10px;
}
#footer{
   padding:10px;
   background:#000;
   color:#fff;
}
.row div{
  width:300px;
  display:block;
}
.row div input, .row div select{
 display:inline;
 float:left;
}
.skills{
  width:35px;
}
#btnlogin{
  margin-left: 10px;
}
#homeregister{
  margin: 0 auto;
}
#homeregister div {
text-align: center;
margin: 0 auto;
}
#homeregister div div.row div {
text-align: center;
margin: 0 auto;
}
#homeregister h1{
color:#fff;
font-family:corbel;
text-transform: uppercase;
font-size: 60px;
font-weight: 900;
}
#homeregister h2{
color:#fff;
font-family:corbel;
text-transform: uppercase;
font-size: 24px;
font-weight: 900;
}
#homeregister #email.form-control,
#homeregister #password.form-control {
  background: transparent;
  border:1px solid #fff;
  color:#fff;
  font-size: 20px;
  height:50px;
  font-weight:200;
  width:240px;
}
#homeregister #btnregister.btn-default,
#homeregister #btnlogin.btn-default{
background: transparent;
  border:1px solid #fff;
  color:#fff;
  font-size: 20px;
  height:50px;
  font-weight:200;
  width:115px;
}
#homeregister h2#freetojoin{
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 200;
  margin-right:160px;
}
#socialheader{
  display:block;
  padding-right:20px;
}
#socialheader img{
  width:35px;
  float:right;
}
/*
Information content styles for sliding below main home page
*/
#infocontent{
background:#738AA6;
color:#fff;
}
#infocontent2{
background:#4B688A;
}
#infocontent3{
background:#2B4A6F;
}
.apinfo{
  margin: 0 auto;
  clear:both;
}


.apinfo div{
  text-align: center;
  margin: 0 auto;
  margin-top:50px;
}
/*
Desktop only styles 800px +
*/
@media screen and (min-width: 1024px) {
  body{
        padding-top:0;
        background: url("./img/1920X1080HOMEPAGE.jpg") no-repeat;
      }
}
/*
Desktop only styles 800px +
*/
@media screen and (min-width: 769px) {
    /* STYLES HERE */
    body{
      padding-top:0;
      background: url("./img/1920X1080HOMEPAGE.jpg") no-repeat;
    }
    .apinfo h1{
      font-size: 50px;
      text-transform: uppercase;
    }
    .apinfo p{
      text-align: center;
      font-size: 25px;
    }
    .apinfo div div.apinfotext{
      text-align: center;
      width: 600px;
      margin-top:50px;

    }
}
/*
MOBILE CSS
*/

@media screen and (min-device-width: 100px) and (max-device-width: 768px) { 
    h1{
      font-size: 15px;
    }
    #register h1{
      font-size: 15px;
    }
    body{
      background: url("./img/mobilebacking.jpg") no-repeat;
    }
    #aplogoimage{
      width:200px;
    }
    .apinfo h1{
      font-size: 15px;
      text-transform: uppercase;
    }
    .apinfo p{
      text-align: center;
      font-size: 15px;
    }
    .apinfo div div.apinfotext{
      text-align: center;
      width: 200px;
      margin-top:10px;
      font-size:14px;
    }
}

