/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/*
Custom css
*/
#header{
  background: #eee;
  padding: 10px 0 10px 10px;
  min-height:35px;
  margin: 0 0 10px 0;
}
#menuwrapper{
  margin: 2px 0 5px 10px;
}
#appcontent{
  margin:10px;
}
#footer{
   padding:10px;
   background:#000;
   color:#fff;
}
.row div{
  width:300px;
  display:block;
}
.row div input, .row div select{
 display:inline;
 float:left;
}
.skills{
  width:35px;
}
#btnlogin{
  margin-left: 10px;
}