/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.itemfit .img{
  float: left;
  width: 50px;
}

.itemfit span{
  display: inline;
}

.itemfit {
  display: block;
  width: 100%;
  clear: both;
  border: 1px solid #eee;
}

/*
Custom css
*/
body{
  padding-top:0;
  background: url("../img/1920X1080HOMEPAGE.jpg") no-repeat;
}
#header{
  background: #eee;
  padding: 10px 0 10px 10px;
  min-height:35px;
  margin: 0 0 10px 0;
}
#menuwrapper{
  margin: 2px 0 5px 10px;
}
#appcontent{
  margin:10px;
}
#footer{
   padding:10px;
   background:#000;
   color:#fff;
}
.row div{
  width:300px;
  display:block;
}
.row div input, .row div select{
 display:inline;
 float:left;
}
.skills{
  width:35px;
}
#btnlogin{
  margin-left: 10px;
}
#homeregister{
  margin: 0 auto;
}
#homeregister div {
text-align: center;
margin: 0 auto;
}
#homeregister div div.row div {
text-align: center;
margin: 0 auto;
}
#homeregister h1{
color:#fff;
font-family:corbel;
text-transform: uppercase;
font-size: 60px;
font-weight: 900;
}
#homeregister h2{
color:#fff;
font-family:corbel;
text-transform: uppercase;
font-size: 24px;
font-weight: 900;
}
#homeregister #email.form-control {
  background: transparent;
  border:1px solid #fff;
  color:#fff;
  line-height:30px;
  font-size: 15px;
}
#homeregister #password{
  background: transparent;
  border:1px solid #fff;
  color:#fff;
}
