<div ng-controller="RegisterCtrl">
<h1>Register</h1>
<div id="register">
<form id="register">
<div class="row">
	<div>
		Email
	</div>
	<div>
	<input class="form-control" type="text" ng-model="user.email" name="email"  />
	</div>

</div>
<div class="row">
	<div>
		&nbsp;
	</div>
	<div>
	<input type="button" class="btn btn-default" ng-click="validate()" type="button" value="Register" />
	<input type="button" class="btn btn-default" ng-click="login()" type="button" value="Login" />
	</div>
</div>
</form>
</div>
<div id="profile" ng-show="showprofile">
<h1>Profile</h1>
<div class="row">
	<div>
		Email
	</div>
	<div>
	<input type="text" name="pemail" id="pemail" />
	</div>

</div>
<div class="row">
	<div>
		Password
	</div>
	<div>
	<input type="password" name="password" id="password" />
	</div>

</div>
</div>
</div>